<configuration>
    <property name="HOME_LOG" value="logs/app.log" />
    <logger name="io.netty" level="WARN" />
    <logger name="io.ktor.routing" level="TRACE" />
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAnd-TimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 100MB -->
            <maxFileSize>100MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 10 days to keep -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern> %d{yyyy/MM/dd HH:mm:ss} [%thread] %-5level %logger - %msg%n%ex</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss} [%thread] %-5level %logger - %msg%n%ex
            </Pattern>
        </layout>
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-ROLLING"/>
    </root>
</configuration>